// This is a convenient boilerplate scss file for starting a project with ResponCSS

// ResponCSS
@import "responcss/responcss.scss";

/*!
 * 
 *  Begin Project CSS
 *
 */

// Style Defaults ------------------------------
html, body {
    padding: 0;
    margin: 0;
}

// Media Queries ------------------------------
// Smartphones
@media (max-width: 480px) {

}

// Smartphone and Tablet Devices
@media (max-width: $s-max-width) {

}
 
// Portrait tablet
@media (min-width: $m-min-width) {

}
 
// Landscape tablet or desktop
@media (min-width: $l-min-width) {

}
 
// Large desktop
@media (min-width: $xl-min-width) {

}