// Change @column to adjust the width ratio of columns to gutters.
// The higher the value, the wider the columns and smaller the gutters
    @column: 5;

// Media screen widths ----------------------------------------------------
    // Small (Up to Medium min-width) - Target Screens: Smartphones, Tablets 

    // Medium - Target Screens: Tablets, Low Res Desktop Monitors
    @m-min-width: 768px;

    // Large - Target Screens: Avg Desktop Monitors
    @l-min-width: 980px;

    // Xtra Large - Target Screens: Large Desktop Monitors
    @xl-min-width: 1200px;