// Mobile Devices
@media (max-width: $s-max-width) {

    // display override
    .s-show {
        display: block;
    }

    .s-hide {
        display: none !important;
    }
}

 
// Portrait tablet
@media (min-width: $m-min-width) and (max-width: $m-max-width) {

    // display override
    .m-show {
        display: block;
    }

    .m-hide {
        display:none !important;
    }
}
 
// Landscape tablet or desktop
@media (min-width: $l-min-width) and (max-width: $l-max-width) {

    // display override
    .l-show {
        display: block;
    }

    .l-hide {
        display: none !important;
    }
}
 
// Large desktop
@media (min-width: $xl-min-width) {

    // display override
    .xl-show {
        display: block;
    }

    .xl-hide {
        display: none !important;
    }
}